*{
    box-sizing:border-box;  
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  }
.clear{
    padding-top: 40px;
    clear: left;
}
header{
    height:70px;
    width:100%;
    background-color:rgba(30, 50, 70, 0.9);
    position:fixed;
    top:0;
    z-index:10;
}
.header-list li {
    list-style:none;
}
.header-list a {
    text-decoration:none;
}
.ACheader-list{
    border-top: solid;
    display: none;
    margin-top: 70px;
    background-color:rgba(30, 50, 70, 0.9);
    color: white;
}
.ACheader-list li{
    list-style:none;
    text-align: center;
    line-height: 40px
}
.ACheader-list a {
    text-decoration:none;
    color: white;
    opacity: 0.7;
}
.ACheader-list a:hover{
    opacity: 1;
}
.header-left{
    float:left;
}
.header-left a{
    text-decoration:none;
}
.logo{
    color:white;
    margin:20px;
    font-size:20px;
    opacity:0.7;
}
.logo:hover{
    opacity:1;
}
.logo a{
    color:white;
}
.menu-icon {
    color: white;
    float: right;
    font-size: 30px;
    padding: 20px;
    display:none;
}
.menu-icon:hover{
  background-color:rgba(25, 25, 25, 0.5);
}
.header-right {
    float:right;
}
.header-list li{
    float:left;
    margin:25px;
    opacity:0.7;
}
.header-list a{
    color:white;
    border-style:none;
}
.header-list li:hover{
    opacity:1;
}
.members-wrapper{
    margin: 90px 40px 90px 40px;
    color:#004F80;
    background-size: cover;
}
.message-wrapper{
    margin: 20px 0;
    width: 100%;
}
.message-wrapper h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.shinyu-wrapper{
    width: 50%;
    float: left;
}
.yuzuki-wrapper{
    width: 50%;
    float: left;
}
.box{
    width: 375px;
    border: solid 2px;
    margin-left:10px;
    padding: 5px;
}
.message-wrapper h3{
    font-size: 25px;
}
.message-wrapper p{
    font-size: 19px;
    line-height: 35px;
}
.shinyu-message{
    float: left;
    text-align: center;
}
.yuzuki-message{
    float: left;
}
.yuzuki-message h3{
    text-align: center;
}
.message-wrapper img{
    float: left;
    width: 200px;
    margin-bottom: 40px;
}
.members-wrapper h1{
    display: inline-block;
    border-bottom:solid 4px;
    font-size: 40px;
}
.card-group{
    margin-top: 20px;
}
.card{
    width:33.3%;
    float: left;
    border: solid 1px;
    height: 320px;
}
.card-title{
    font-size: 20px;
    padding-left: 10px;
}
.card-text{
    padding:0 10px;
}
footer{
    background-color:rgb(30, 50, 70);
    color: white;
    position: absolute;
    width: 100%;
}
.content{
    float: left;
    margin: 40px 50px 0 50px;
}
.sns a{
    font-size: 50px;
}
.instagram{
    color: #D93177;
    margin-right: 25px;
}
.twitter {
    color: #55acee;
}
.website-links li{
    list-style:none;
    margin: 10px 0;
}
.website-links a{
    color: white;
}
.footer-bottom{
    padding: 20px 0;
}
.copyright-text{
    margin-left: 20px;
    opacity: 0.5;
    font-style: italic;
}