@media all and (max-width: 1000px){
    .header-list{
        display:none;
    }
    .ACheader-list{
        display:block;
    }
    .menu{
        display: none;
    }
    .menu-icon{
        display:block;
    }
    .shinyu-wrapper{
        width: 100%;
        margin-bottom: 20px;
    }
    .yuzuki-wrapper{
        width: 100%;
        margin-bottom: 20px;
    }
    .card{
        width: 50%;
    }
}
@media (max-width: 670px){
    .members-wrapper h1{
        font-size: 24px;
    }
    .message-wrapper h2{
        font-size: 21px;
    }
    .message-wrapper h3{
        font-size: 18px;
    }
    .message-wrapper p{
        font-size: 15px;
        line-height: 25px;
    }
    .shinyu-wrapper{
        clear: both;
    }
    .yuzuki-wrapper{
        clear: both;
    }
    .shinyu-message{
        clear: both;
    }
    .yuzuki-message{
        clear: both;
    }
    .message-wrapper img{
        clear: both;
        margin-left: 50px;
    }
    .box{
        width: 300px;
        margin: 0;
    }
    .message-wrapper img{
        margin-bottom: 5px;
    }
    .card{
        width: 100%;
        height: 340px;
    }
    .content{
        margin-left: 20px;
    }
    .contact iframe{
        width: 330px;
    }
}